.boxx{
    margin:auto;
    width:50vw;
    background-color: #fff;
    box-shadow:0px 0px 3px 0px gray;
    padding: 2em;
}

.custom{
    width: 300px;
}
hr.solid {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h22{
    font-family: sans-serif;
}