.box{
    margin-top: 50px;
    width: 80vw;
    padding: 2em;
    background-color: #fff;
    box-shadow:0px 0px 3px 0px gray;
}

.iconn{
    padding: 10px;
    font-size: 30px;

}
.socials{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 5px;
}
